{{#>layout}}
  <form action="{{loginForm.url}}" method="POST">
    <div>
      <label for="email" class="mb-sm">Email:</label>
      <input type="text" name="email" class="mb-md">
    </div>
    <div>
      <label for="password" class="mb-sm">Password:</label>
      <input type="password" name="password" class="mb-md">
    </div>
    <button>Log in</button>
  </form>
{{/layout}}