{{#>layout}}
<form action="/forum/{{formUrl}}" method="POST">
  <div>
    <label for="title">Forum title</label>
    <input type="text" name="title" id="title" required>
  </div>
  <div>
    <label for="key">Forum key</label>
    <input type="text" id="key" name="key" required>
  </div>
  <div>
    <label for="description">Forum description</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
  </div>
  <button>Submit</button>
</form>
{{/layout}}