{{#>layout}}
<h1 class="mb-lg">Форум</h1>
<div class="mb-lg">
  <a href="/forum/newest">Новые сообщения</a>
</div>
<ul class="forums-list">
  {{#each forums}}
  <li class="forums-list__item mb-md">
    <a href="/forum/{{this.key}}" class="forums-list__title mb-s,">
      {{this.title}}
    </a>
    <div class="forums-list__description">
      {{this.description}}
    </div>
  </li>
  {{/each}}
</ul>
{{/layout}}