<form action="/forum/{{formConfig.url}}" method="POST">
  {{#unless user}}
    <div class="mb-md">
      <label for="authorName" class="mb-sm">Ваше имя:</label>
      <input type="text" name="authorName" id="authorName">
    </div>
  {{/unless}}
<div class="mb-md">
<label for="text" class="mb-sm">Текст сообщения:</label>
<div class="text-editor">
<input class="text-editor__input" type="hidden" name="text" id="text" />
<div class="text-editor__wysiwyg">{{{formConfig.text}}}</div>
</div>
</div>
  <button class="button">
    <i class="far fa-comment-alt"></i>
    Отправить
  </button>
</form>