{{#>layout}}
  <h1>{{topic.title}}</h1>
  <div class="mb-lg">
    {{topic.description}}
  </div>
  {{#if topicControls}}
    <div class="grey-block mb-lg">
      <a href="/forum/{{editTopicUrl}}" class="button button-flat button-grey">
        <i class="fas fa-pencil-alt"></i>
        Редактировать
      </a>
      <a href="/forum/{{deleteTopicUrl}}" class="button button-flat button-grey">
        <i class="far fa-trash-alt"></i>
        Удалить 
      </a>
    </div>
  {{/if}}
  <ul class="forum-messages">
    {{#each messages}}
      {{>forumMessage message=this}}
    {{/each}}
  </ul>
  <div class="mb-md">
    {{>pagination pagination=pagination}}
  </div>
  {{>forumMessageForm formConfig=forumMessageForm}}
{{/layout}}