{{#>layout}}
<h1>{{topic.title}}</h1>
<div>
  <em>{{topic.description}}</em>
</div>
{{#if editTopicUrl}}
<div>
  <a href="/forum/{{editTopicUrl}}">Edit topic</a>
  |
  <a href="/forum/{{deleteTopicUrl}}">Delete topic</a>
</div>
{{/if}}
<ul>
  {{#each messages}}
    {{>forumMessage message=this}}
  {{/each}}
</ul>
{{>pagination pagination=pagination}}
{{>forumMessageForm formConfig=forumMessageForm}}
{{/layout}}