<footer class="footer">
  <div class="footer__left">
    <div class="footer__background-author mb-md">
      Фото на фоне:
      <a href="https://www.pexels.com/@muffin" target="_blank" class="footer__background-author-link">
        @muffin
      </a>
    </div>
    <div class="footer__technologies-label mb-md">
      Разработано с:
    </div>
    <ul class="footer__technologies-list">
      <li class="footer__technologies-item mb-sm">
        <a href="https://nodejs.org" target="_blank" title="Node.js" class="footer__technologies-link">
          Node.js
        </a>
      </li>
      <li class="footer__technologies-item mb-sm">
        <a href="https://expressjs.com" target="_blank" title="Express.js" class="footer__technologies-link">
          Express.js
        </a>
      </li>
      <li class="footer__technologies-item mb-sm">
        <a href="https://www.mongodb.com/" target="_blank" title="MongoDB" class="footer__technologies-link">
          MongoDB
        </a>
      </li>
      <li class="footer__technologies-item mb-sm">
        <a href="https://www.heroku.com/" target="_blank" title="Heroku" class="footer__technologies-link">
          Heroku
        </a>
      </li>
      <li class="footer__technologies-item mb-sm">
        <a href="https://github.com/" target="_blank" title="GitHub" class="footer__technologies-link">
          GitHub
        </a>
      </li>
      <li class="footer__technologies-item mb-sm">
        <a href="https://handlebarsjs.com/" target="_blank" title="Handlebars" class="footer__technologies-link">
          Handlebars
        </a>
      </li>
      <li class="footer__technologies-item mb-sm">
        <a href="https://jquery.com/" target="_blank" title="jQuery" class="footer__technologies-link">
          jQuery
        </a>
      </li>
      <li class="footer__technologies-item mb-sm">
        <a href="https://quilljs.com/" target="_blank" title="Quill" class="footer__technologies-link">
          Quill
        </a>
      </li>
    </ul>
  </div>
  <div class="footer__right">
    <div class="footer__info">
      "Факел" 2011-2019
    </div>
    <a href="https://github.com/ArtGr211/fakel" class="footer__repository">
      Репозиторий
    </a>
    <div class="footer__author">
      Сайт сделал
      <a href="http://artgr.dreamwidth.org/" class="footer__author-link">
        Art.Gr.
      </a>
    </div>
  </div>
</footer>