<aside class="sidebar">
  {{#if user}}
    Hello, {{ user.username }}!
    <a href="/profile">Profile page</a>
    <a href="/blog/create">Add article</a>
  {{else}}
    <a href="/sign-up">Sign up</a>
    <a href="/sign-in">Sign in</a>
  {{/if}}
</aside>