{{#>layout}}
<table>
  <tbody>
    <tr>
      <td>Username:</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>
<hr>
<form action="/profile" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username"/>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
  </div>
  <button>Submit</button>
</form>
{{/layout}}