{{#>layout}}
<table>
  <tbody>
    <tr>
      <td>Username:</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>
{{/layout}}