{{#>layout}}
<ul>
  {{#each articles}}
  <li>
    <h2>
      <a href="{{this.id}}">
        {{this.title}}
      </a>
    </h2>
    <div>
      <em>
        {{this.text}}
      </em>
    </div>
    <div>
      <strong>{{this.author.username}}</strong>
    </div>
  </li>
  {{/each}}
</ul>
{{/layout}}