<form action="{{commentForm.url}}" method="POST">
  {{#if commentForm.authorField}}
    <div>
      <input type="text" name="authorName" value="{{commentForm.value.authorName}}">
    </div>
  {{/if}}
  <div>
    <textarea name="text" id="text" cols="30" rows="10">{{commentForm.value.text}}</textarea>
  </div>
  <button>Send</button>
</form>