<form action="{{commentsForm.url}}" method="POST">
  {{#unless user}}
  <div>
    <input type="text" name="authorName">
  </div>
  {{/unless}}
  <div>
    <textarea name="text" id="text" cols="30" rows="10"></textarea>
  </div>
  <button>Send</button>
</form>