{{#>layout}}
  <h1 class="mb-lg">Вход</h1>
  <form action="{{loginForm.url}}" method="POST">
    <div class="mb-md">
      <label for="email" class="mb-sm">Email:</label>
      <input type="text" name="email">
    </div>
    <div class="mb-md">
      <label for="password" class="mb-sm">Пароль:</label>
      <input type="password" name="password">
    </div>
    <button>Войти</button>
  </form>
{{/layout}}