<form action="{{commentForm.url}}" method="POST" class="comments-form">
  <div class="comments-form__title title mb-md">
    {{commentForm.title}}
  </div>
  {{#if commentForm.authorField}}
    <div class="mb-lg">
      <label for="authorName" class="mb-sm">Ваше имя</label>
      <input
        type="text"
        class="mb-lg"
        name="authorName"
        value="{{commentForm.value.authorName}}"
        placeholder="Гость"
        required
      >
    </div>
  {{/if}}
  <div class="mb-lg">
    <label for="text" class="mb-sm">Комментарий:</label>
    <div class="text-editor">
<input class="text-editor__input" type="hidden" name="text" id="text" />
<div class="text-editor__wysiwyg">{{{commentForm.value.text}}}</div>
    </div>
  </div>
  <button class="button">
    <i class="far fa-comment-alt"></i>
    Отправить
  </button>
</form>