<h1>Fakel</h1>
<p>
  Hello, world!
</p>
<p>
  <strong>Message:</strong> <i>{{ message }}</i>
</p>
<p>
  {{#if user}}
    Hello, {{ user.username }}
  {{else}}
    <a href="/sign-up">Sign up link</a>
    <a href="/sign-in">Sign in link</a>
  {{/if}}
</p>